# Things to fix and add

1. Filter the movies list for a random data sample side.
2. Get the URL's of Movies in a for loop in the Scraping script.
3. Divide scrapping script to 20 different files to not get IP Blocked.

# Getting a list of movies

In [283]:
import pandas as pd

In [284]:
# Adjust these file paths according to where you've saved the downloaded datasets
basics_path = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/Data/IMDb title basics.tsv'
ratings_path = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/Data/IMDb Title Ratings.tsv'

In [285]:
# Reading the basics file with the correct column names
basics_df = pd.read_csv(
    basics_path, 
    sep='\t', 
    low_memory=False, 
    usecols=['tconst', 'titleType', 'primaryTitle', 'genres', 'isAdult', 'startYear', 'runtimeMinutes']
)

In [286]:
# Filtering for movies
movies_df = basics_df[basics_df['titleType'] == 'movie']

In [287]:
# Reading the ratings file
ratings_df = pd.read_csv(ratings_path, sep='\t', usecols=['tconst', 'averageRating', 'numVotes'])

# Merging the datasets on 'tconst' to combine movie details with ratings
merged_df = pd.merge(movies_df, ratings_df, on='tconst')

# Selecting and renaming the columns
IMDb_movies_df = merged_df[['primaryTitle', 'genres', 'averageRating', 'startYear', 'isAdult', 'runtimeMinutes', 'numVotes']]
IMDb_movies_df.columns = ['Movie Name', 'Genre', 'Rating', 'Release Date', 'isAdult', 'Runtime Minutes', 'numVotes']

In [288]:
# How many null values are there in each column?
print(IMDb_movies_df.isnull().sum())

Movie Name         0
Genre              0
Rating             0
Release Date       0
isAdult            0
Runtime Minutes    0
numVotes           0
dtype: int64

In [289]:
# Display the final table
IMDb_movies_df.head(10)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
0,Miss Jerry,Romance,5.3,1894,0,45,210
1,The Corbett-Fitzsimmons Fight,"Documentary,News,Sport",5.3,1897,0,100,499
2,Bohemios,\N,3.7,1905,0,100,17
3,The Story of the Kelly Gang,"Action,Adventure,Biography",6.0,1906,0,70,867
4,The Prodigal Son,Drama,5.0,1907,0,90,22
5,Robbery Under Arms,Drama,4.3,1907,0,\N,25
6,Hamlet,Drama,2.9,1908,0,\N,27
7,Don Quijote,Drama,4.2,1908,0,\N,20
8,The Fairylogue and Radio-Plays,"Adventure,Fantasy",5.0,1908,0,120,70
9,Faldgruben,\N,4.4,1909,0,\N,17

In [290]:
# Remove all values from Release date that are not numeric
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Release Date'].str.isnumeric()]

In [291]:
# set datatypes for IMDb_movies_df
IMDb_movies_df['Release Date'] = IMDb_movies_df['Release Date'].astype('int')
# IMDb_movies_df['isAdult'] = IMDb_movies_df['isAdult'].astype('bool')
IMDb_movies_df['Runtime Minutes'] = IMDb_movies_df['Runtime Minutes'].apply(pd.to_numeric, errors='coerce')
IMDb_movies_df['numVotes'] = IMDb_movies_df['numVotes'].apply(pd.to_numeric, errors='coerce')

In [292]:
# Filter IMDb_movies_df for Release date > 2015
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Release Date'] > 2015]

# Remove all num values from Genre column
IMDb_movies_df['Genre'] = IMDb_movies_df['Genre'].str.replace(r'\d+', '')

In [293]:
# List all unique values in the Release date column
IMDb_movies_df['Release Date'].unique()

array([2021, 2020, 2018, 2023, 2022, 2017, 2016, 2019, 2024])

In [294]:
# Remove all values from IMDb_movies_df columns that have a value /N
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Movie Name'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Rating'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['isAdult'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Runtime Minutes'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['numVotes'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Rating'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Genre'] != '\\N']

In [295]:
IMDb_movies_df.shape

(77118, 7)

In [296]:
# Display the final table
IMDb_movies_df.head(5)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
1792,Istoriya grazhdanskoy voyny,Documentary,6.8,2021,0,94.0,64
32409,The Tango of the Widower and Its Distorting Mi...,Drama,6.4,2020,0,70.0,186
36947,The Other Side of the Wind,Drama,6.7,2018,0,122.0,7966
37953,Socialist Realism,Drama,7.6,2023,0,78.0,53
45841,Victor Seastrom,"Biography,Documentary",6.7,2021,0,65.0,67

In [297]:
# Filter any movies with less than 10000 votes
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['numVotes'] > 10000]

In [298]:
# Display the final table
IMDb_movies_df.head(5)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
110436,Mortal Kombat,"Action,Adventure,Fantasy",6.0,2021,0,110.0,188147
114550,Wazir,"Action,Crime,Drama",7.1,2016,0,103.0,19816
122345,Fahrenheit 451,"Drama,Sci-Fi,Thriller",5.0,2018,0,100.0,22392
125034,American Pastoral,"Crime,Drama,Mystery",6.1,2016,0,108.0,17946
126698,Motherless Brooklyn,"Crime,Drama,Mystery",6.8,2019,0,144.0,62334

In [299]:
IMDb_movies_df.shape

(2667, 7)

In [300]:
# List all duplicated Movie Names in IMDb_movies_df
IMDb_movies_df[IMDb_movies_df.duplicated(subset='Movie Name', keep=False)].sort_values(by='Movie Name')

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
153836,Aftermath,"Drama,Horror,Mystery",5.3,2021,0,114.0,18577
261362,Aftermath,"Drama,Mystery,Thriller",5.7,2017,0,94.0,26633
173119,Beast,"Action,Adventure,Drama",5.6,2022,0,93.0,39471
158784,Beast,"Action,Comedy,Thriller",5.2,2022,0,155.0,36150
272316,Beast,"Crime,Drama,Mystery",6.8,2017,0,107.0,15220
150710,Black Box,"Drama,Mystery,Thriller",7.2,2021,0,129.0,14169
166199,Black Box,"Horror,Mystery,Sci-Fi",6.2,2020,0,100.0,16957
283927,Champions,"Comedy,Drama,Family",7.2,2018,0,124.0,11684
189969,Champions,"Comedy,Drama,Sport",6.8,2023,0,124.0,24312
303811,Close,Drama,7.8,2022,0,104.0,32563
269276,Close,"Action,Drama,Thriller",5.7,2019,0,94.0,26899
166719,Drishyam 2,"Crime,Drama,Thriller",8.4,2021,0,152.0,40492
191459,Drishyam 2,"Crime,Drama,Mystery",8.2,2022,0,140.0,43470
267505,Escape Room,"Horror,Thriller",4.2,2017,0,81.0,13725
275087,Escape Room,"Action,Adventure,Horror",6.4,2019,0,99.0,139759
276465,Gold,"Action,Adventure,Thriller",5.4,2022,0,97.0,12183
203389,Gold,"Biography,Crime,Drama",6.7,2016,0,120.0,68620
278251,Gold,"Drama,History,Sport",7.3,2018,0,151.0,14661
166890,Hypnotic,"Mystery,Thriller",5.3,2021,0,88.0,19420
294035,Hypnotic,"Action,Drama,Mystery",5.5,2023,0,93.0,31130
299720,Jersey,"Drama,Sport",8.5,2019,0,157.0,21904
269127,Jersey,"Drama,Sport",7.3,2022,0,170.0,14293
192329,Leo,"Action,Crime,Drama",7.2,2023,0,164.0,56192
273645,Leo,"Animation,Comedy,Family",7.0,2023,0,102.0,30272
277433,Perfect Strangers,"Comedy,Drama",6.9,2017,0,97.0,15268
264526,Perfect Strangers,"Comedy,Drama",7.7,2016,0,96.0,70618
261473,Pinocchio,"Adventure,Comedy,Drama",5.1,2022,0,105.0,41436
295703,Pinocchio,"Drama,Family,Fantasy",6.3,2019,0,125.0,14545
148921,Shut In,Thriller,5.8,2022,0,89.0,10700
231065,Shut In,"Drama,Horror,Mystery",4.8,2016,0,91.0,14645
193512,Silent Night,"Action,Thriller",5.3,2023,0,104.0,15978
161394,Silent Night,"Comedy,Drama",5.7,2021,0,92.0,19320
295971,The Courier,"Drama,History,Mystery",7.2,2020,0,112.0,72076
293992,The Courier,"Action,Crime,Drama",4.8,2019,0,99.0,11490
250487,The Girl on the Train,"Crime,Drama,Mystery",6.5,2016,0,112.0,197818
299440,The Girl on the Train,"Crime,Drama,Mystery",4.0,2021,0,120.0,14992
221980,The Good Neighbor,"Crime,Drama,Horror",6.3,2016,0,98.0,18087
182393,The Good Neighbor,"Crime,Horror,Mystery",6.0,2022,0,106.0,12376
302659,The Guilty,"Crime,Drama,Thriller",6.3,2021,0,90.0,145621
283512,The Guilty,"Crime,Drama,Thriller",7.5,2018,0,85.0,63771
260283,The House,"Comedy,Crime",5.6,2017,0,88.0,46697
161906,The House,"Animation,Comedy,Drama",6.8,2022,0,97.0,22021
259228,The Innocents,"Drama,History",7.3,2016,0,115.0,11524
255273,The Innocents,"Drama,Fantasy,Horror",7.0,2021,0,117.0,23903
202888,The Vault,"Crime,Horror,Mystery",4.9,2017,0,91.0,13534
304274,The Vault,"Action,Thriller",6.4,2021,0,118.0,29996
172301,Vikram Vedha,"Action,Crime,Drama",7.1,2022,0,160.0,24010
277957,Vikram Vedha,"Action,Crime,Drama",8.2,2017,0,147.0,50076

In [301]:
# Remove all rows where the Movie Name, Release Date and Runtime Minutes are duplicated
IMDb_movies_df = IMDb_movies_df.drop_duplicates(subset=['Movie Name', 'Release Date', 'Runtime Minutes'])

In [302]:
# Reset index
IMDb_movies_df.reset_index(drop=True, inplace=True)

In [303]:
IMDb_movies_df.head(10)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
0,Mortal Kombat,"Action,Adventure,Fantasy",6.0,2021,0,110.0,188147
1,Wazir,"Action,Crime,Drama",7.1,2016,0,103.0,19816
2,Fahrenheit 451,"Drama,Sci-Fi,Thriller",5.0,2018,0,100.0,22392
3,American Pastoral,"Crime,Drama,Mystery",6.1,2016,0,108.0,17946
4,Motherless Brooklyn,"Crime,Drama,Mystery",6.8,2019,0,144.0,62334
5,Alita: Battle Angel,"Action,Adventure,Sci-Fi",7.3,2019,0,122.0,290565
6,The Flash,"Action,Adventure,Fantasy",6.7,2023,0,144.0,201276
7,Danger Close,"Action,Drama,War",6.8,2019,0,118.0,14990
8,Shazam!,"Action,Adventure,Comedy",7.0,2019,0,132.0,380869
9,Wonder Woman,"Action,Adventure,Fantasy",7.3,2017,0,141.0,694150

In [304]:
IMDb_movies_df.shape

(2667, 7)

In [305]:
# New column called Random that randomly generates random unique integer values between 1 and 1000000
import random
random.seed(0)
IMDb_movies_df['Random'] = random.sample(range(1, 1000000), IMDb_movies_df.shape[0])

In [306]:
# how many duplicate values are there in the Random column?
IMDb_movies_df['Random'].duplicated().sum()

0

In [307]:
# sort the random column in ascending order
IMDb_movies_df.sort_values(by='Random', inplace=True)

# filter the top 1000 rows
IMDb_movies_df = IMDb_movies_df.head(1000)

In [308]:
# Reset index
IMDb_movies_df.reset_index(drop=True, inplace=True)

In [309]:
IMDb_movies_df.shape

(1000, 8)

In [310]:
IMDb_movies_df.head(10)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes,Random
0,Phone Bhoot,"Comedy,Horror",5.2,2022,0,136.0,10841,73
1,Office Christmas Party,Comedy,5.9,2016,0,105.0,87808,253
2,The Boogeyman,"Horror,Mystery,Thriller",5.9,2023,0,98.0,41911,266
3,The Woman King,"Action,Drama,History",6.9,2022,0,135.0,71193,762
4,A Shaun the Sheep Movie: Farmageddon,"Adventure,Animation,Comedy",6.8,2019,0,86.0,15422,1062
5,Gemini Man,"Action,Sci-Fi,Thriller",5.7,2019,0,117.0,120953,1199
6,Doctor Strange,"Action,Adventure,Fantasy",7.5,2016,0,115.0,795835,1599
7,Sully,"Biography,Drama",7.4,2016,0,96.0,294926,1933
8,The Irishman,"Biography,Crime,Drama",7.8,2019,0,209.0,425536,2473
9,777 Charlie,"Adventure,Comedy,Drama",8.8,2022,0,164.0,38956,2581

### Dividing the Movies dataframe into 20 csv's

In [311]:
# divide the IMDb_movies_df into 20 separate dataframes with 50 rows each and save them as separate CSV files with the naming convention "IMDb_movies_df_1.csv", "IMDb_movies_df_2.csv", "IMDb_movies_df_3.csv", and so on in the location '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets'
import os

# drop random column
IMDb_movies_df.drop('Random', axis=1, inplace=True)

# Create the directory
directory = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets'
if not os.path.exists(directory):
    os.makedirs(directory)

# Split the dataframe into 20 separate dataframes
for i in range(20):
    start = i * 50
    end = (i + 1) * 50
    df = IMDb_movies_df.iloc[start:end]
    df.to_csv(f'{directory}/IMDb_movies_df_{i + 1}.csv', index=False)

In [312]:
# # export the final table to a csv file
# IMDb_movies_df.to_csv('IMDb_movies.csv', index=False)

-----

## Importing all 20 Movies CSV

In [313]:
import pandas as pd
import os

# Define the directory where the CSV files are located
directory = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets'

# Initialize an empty dictionary to store the dataframes
dataframes = {}

# Loop through all the files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Remove the '.csv' extension and use the filename as the dictionary key
        dataframe_name = filename.replace('.csv', '')
        # Store the DataFrame in the dictionary
        dataframes[dataframe_name] = df

In [314]:
# Defining all dataframes as variables

imdb_movies_df_1 = dataframes['IMDb_movies_df_1']
imdb_movies_df_2 = dataframes['IMDb_movies_df_2']
imdb_movies_df_3 = dataframes['IMDb_movies_df_3']
imdb_movies_df_4 = dataframes['IMDb_movies_df_4']
imdb_movies_df_5 = dataframes['IMDb_movies_df_5']
imdb_movies_df_6 = dataframes['IMDb_movies_df_6']
imdb_movies_df_7 = dataframes['IMDb_movies_df_7']
imdb_movies_df_8 = dataframes['IMDb_movies_df_8']
imdb_movies_df_9 = dataframes['IMDb_movies_df_9']
imdb_movies_df_10 = dataframes['IMDb_movies_df_10']
imdb_movies_df_11 = dataframes['IMDb_movies_df_11']
imdb_movies_df_12 = dataframes['IMDb_movies_df_12']
imdb_movies_df_13 = dataframes['IMDb_movies_df_13']
imdb_movies_df_14 = dataframes['IMDb_movies_df_14']
imdb_movies_df_15 = dataframes['IMDb_movies_df_15']
imdb_movies_df_16 = dataframes['IMDb_movies_df_16']
imdb_movies_df_17 = dataframes['IMDb_movies_df_17']
imdb_movies_df_18 = dataframes['IMDb_movies_df_18']
imdb_movies_df_19 = dataframes['IMDb_movies_df_19']
imdb_movies_df_20 = dataframes['IMDb_movies_df_20']

In [315]:
# This code does the same as what is happening above but in a loop but when using the imdb_movies_df_* the highlight shows up as the fact that the dataframe does not exist. It was driving me nuts so I just did it manually

# # Loop through the numbers 1 to 20 to define each dataframe
# for i in range(1, 21):
#     # Construct the key name based on the current number
#     key_name = f'IMDb_movies_df_{i}'
#     # Use exec to create a variable with the dataframe
#     exec(f'imdb_movies_df_{i} = dataframes["{key_name}"]')

In [316]:
imdb_movies_df_20.head(5)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
0,I Kill Giants,"Drama,Fantasy,Thriller",6.1,2017,0,106.0,32840
1,Whiskey Tango Foxtrot,"Biography,Comedy,Drama",6.6,2016,0,112.0,55860
2,Dunki,"Comedy,Drama",7.2,2023,0,160.0,62137
3,When We First Met,"Comedy,Fantasy,Romance",6.4,2018,0,97.0,53509
4,The Edge of Democracy,"Documentary,History",7.3,2019,0,121.0,15646

---

# URL Extracting script for all 20 dataframes

In [ ]:
# Working URL extracting sctipt for all 20 dataframes

import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

# Setting up Selenium
chrome_options = Options()
chrome_options.add_argument("--headless")  # Headless mode to run without opening browser window
service = Service('path_to_chromedriver')  # Replace 'path_to_chromedriver' with the actual path
# Setup WebDriver (example with Chrome)
driver = webdriver.Chrome()

# Function to get the URL of User Reviews for a movie
def get_user_reviews_url(movie_name, release_date):
    try:
        # Open IMDb website
        driver.get("https://www.imdb.com/")
        time.sleep(2)  # Wait for page to load

        # Find search box and input movie name
        search_box = driver.find_element(By.ID, "suggestion-search")
        search_box.clear()
        search_box.send_keys(movie_name)
        search_box.send_keys(Keys.RETURN)
        time.sleep(2)  # Wait for search results to load

        # Find and click on the release year
        release_year_element = driver.find_element(By.XPATH, f"//*[contains(text(), '{release_date}')]")
        release_year_element.click()
        time.sleep(2)  # Wait for page to load

        # Find and click on User Reviews button
        user_reviews_button = driver.find_element(By.XPATH, "//a[contains(text(), 'User reviews')]")
        user_reviews_url = user_reviews_button.get_attribute('href')
        return user_reviews_url

    except Exception as e:
        print(f"Error occurred for {movie_name}: {str(e)}")
        return None

# Loop through each dataframe
for i in range(1, 21):
    # Dynamically generate dataframe name
    df_name = f'imdb_movies_df_{i}'
    # Assuming dataframes are stored in a dictionary or similar structure
    df = globals()[df_name]  # Replace with the actual way to access the dataframe

    # Iterate through each row in the DataFrame
    for index, row in df.iterrows():
        movie_name = row['Movie Name']
        release_date = row['Release Date']

        # Get User Reviews URL for the movie
        user_reviews_url = get_user_reviews_url(movie_name, release_date)

        # Update DataFrame with the URL
        df.at[index, 'User Reviews URL'] = user_reviews_url

    # Save the updated DataFrame
    output_path = f'/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL/imdb_movies_df_{i}_url.csv'
    df.to_csv(output_path, index=False)

# Close the browser
driver.quit()

-----

# Descriptive stats for all URL df

In [3]:
import os
import pandas as pd

# import all 20 csv files from the folder location '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL' The files are named imdb_movies_df_1_url.csv, imdb_movies_df_2_url.csv, imdb_movies_df_3_url.csv, and so on till 20. I want to concatenate all these files into one dataframe called all_URL_df

# Define the directory where the CSV files are located
directory = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL'

# Initialize an empty list to store the dataframes
dataframes = []

# Loop through all the files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all the DataFrames in the list
all_URL_df = pd.concat(dataframes, ignore_index=True)

In [4]:
# Display the final table
all_URL_df.head(5)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes,User Reviews URL
0,Prey,"Action,Adventure,Drama",7.1,2022,0,100.0,222499,https://www.imdb.com/title/tt11866324/reviews/...
1,The Bye Bye Man,"Drama,Fantasy,Horror",4.3,2017,0,96.0,25774,https://www.imdb.com/title/tt4030600/reviews/?...
2,Fyre,"Crime,Documentary,Music",7.2,2019,0,97.0,51546,https://www.imdb.com/title/tt9412098/reviews/?...
3,Escape Room,"Action,Adventure,Horror",6.4,2019,0,99.0,139759,https://www.imdb.com/title/tt5886046/reviews/?...
4,Salaar,"Action,Crime,Drama",6.5,2023,0,175.0,57702,https://www.imdb.com/title/tt13927994/reviews/...

In [5]:
all_URL_df.shape

(1000, 8)

In [6]:
# all null values in each column
all_URL_df.isnull().sum()

Movie Name           0
Genre                0
Rating               0
Release Date         0
isAdult              0
Runtime Minutes      0
numVotes             0
User Reviews URL    60
dtype: int64

-----

## Loading all 20 URL csv as Dataframes

In [8]:
# load all 20 csv from the location '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL' as individual dataframes with the same name as their file name but without the .csv extension

# Define the directory where the CSV files are located
directory = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL'

# Initialize an empty dictionary to store the dataframes
dataframes = {}

# Loop through all the files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Remove the '.csv' extension and use the filename as the dictionary key
        dataframe_name = filename.replace('.csv', '')
        # Store the DataFrame in the dictionary
        dataframes[dataframe_name] = df

In [9]:
# Defining all dataframes as variables

imdb_movies_df_1_url = dataframes['imdb_movies_df_1_url']
imdb_movies_df_2_url = dataframes['imdb_movies_df_2_url']
imdb_movies_df_3_url = dataframes['imdb_movies_df_3_url']
imdb_movies_df_4_url = dataframes['imdb_movies_df_4_url']
imdb_movies_df_5_url = dataframes['imdb_movies_df_5_url']
imdb_movies_df_6_url = dataframes['imdb_movies_df_6_url']
imdb_movies_df_7_url = dataframes['imdb_movies_df_7_url']
imdb_movies_df_8_url = dataframes['imdb_movies_df_8_url']
imdb_movies_df_9_url = dataframes['imdb_movies_df_9_url']
imdb_movies_df_10_url = dataframes['imdb_movies_df_10_url']
imdb_movies_df_11_url = dataframes['imdb_movies_df_11_url']
imdb_movies_df_12_url = dataframes['imdb_movies_df_12_url']
imdb_movies_df_13_url = dataframes['imdb_movies_df_13_url']
imdb_movies_df_14_url = dataframes['imdb_movies_df_14_url']
imdb_movies_df_15_url = dataframes['imdb_movies_df_15_url']
imdb_movies_df_16_url = dataframes['imdb_movies_df_16_url']
imdb_movies_df_17_url = dataframes['imdb_movies_df_17_url']
imdb_movies_df_18_url = dataframes['imdb_movies_df_18_url']
imdb_movies_df_19_url = dataframes['imdb_movies_df_19_url']
imdb_movies_df_20_url = dataframes['imdb_movies_df_20_url']

In [11]:
imdb_movies_df_18_url.head(20)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes,User Reviews URL
0,24 Hours to Live,"Action,Sci-Fi,Thriller",5.8,2017,0,93.0,15968,https://www.imdb.com/title/tt5442456/reviews/?...
1,Promising Young Woman,"Crime,Drama,Mystery",7.5,2020,0,113.0,207699,https://www.imdb.com/title/tt9620292/reviews/?...
2,Love Today,"Comedy,Drama,Romance",8.0,2022,0,154.0,15188,https://www.imdb.com/title/tt22488728/reviews/...
3,American Made,"Action,Comedy,Crime",7.1,2017,0,115.0,205078,https://www.imdb.com/title/tt3532216/reviews/?...
4,Colossal,"Comedy,Drama,Fantasy",6.2,2016,0,109.0,68598,https://www.imdb.com/title/tt4680182/reviews/?...
5,Kedarnath,"Drama,Romance",6.7,2018,0,116.0,15036,https://www.imdb.com/title/tt7027278/reviews/?...
6,The Half of It,"Comedy,Drama",6.9,2020,0,104.0,42737,https://www.imdb.com/title/tt9683478/reviews/?...
7,Coming 2 America,"Comedy,Music",5.3,2021,0,110.0,74799,https://www.imdb.com/title/tt6802400/reviews/?...
8,Color Out of Space,"Horror,Mystery,Sci-Fi",6.2,2019,0,111.0,55288,https://www.imdb.com/title/tt5073642/reviews/?...
9,"Crouching Tiger, Hidden Dragon: Sword of Destiny","Action,Adventure,Drama",6.1,2016,0,96.0,20770,https://www.imdb.com/title/tt2652118/reviews/?...
10,Bhediya,"Comedy,Fantasy,Horror",6.8,2022,0,156.0,24395,https://www.imdb.com/title/tt14099334/reviews/...
11,Paterson,"Comedy,Drama,Romance",7.3,2016,0,118.0,88077,NaN
12,Stuber,"Action,Comedy,Crime",6.2,2019,0,93.0,50985,https://www.imdb.com/title/tt7734218/reviews/?...
13,Love Aaj Kal,"Drama,Romance",4.7,2020,0,142.0,10409,NaN
14,David Attenborough: A Life on Our Planet,"Biography,Documentary",8.9,2020,0,83.0,34285,https://www.imdb.com/title/tt11989890/reviews/...
15,First Kill,"Action,Thriller",5.0,2017,0,97.0,12365,https://www.imdb.com/title/tt5884234/reviews/?...
16,A Dog's Way Home,"Adventure,Drama,Family",6.7,2019,0,96.0,19885,https://www.imdb.com/title/tt7616798/reviews/?...
17,Mary and the Witch's Flower,"Adventure,Animation,Family",6.8,2017,0,103.0,15869,https://www.imdb.com/title/tt6336356/reviews/?...
18,Official Competition,"Comedy,Drama",7.0,2021,0,115.0,14210,https://www.imdb.com/title/tt11700260/reviews/...
19,The Shape of Water,"Drama,Fantasy,Romance",7.3,2017,0,123.0,443781,https://www.imdb.com/title/tt5580390/reviews/?...

----

# Code to scrape all review data from one URL below below
--------

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup
import pandas as pd
import time
import re
import traceback

# Initialize WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
driver = webdriver.Chrome(options=options)
wait = WebDriverWait(driver, 20)

# Navigate to the IMDb reviews page
driver.get("https://www.imdb.com/title/tt0293429/reviews/?ref_=tt_ql_2")

reviews_data = []

try:
    while len(reviews_data) < 200:
        # Wait for the reviews container to load
        print("Waiting for reviews container to load on the page...")
        wait.until(EC.visibility_of_element_located((By.CSS_SELECTOR, "#main > section > div.lister > div.lister-list")))
        time.sleep(3)

        # Extract reviews
        print("Extracting reviews...")
        soup = BeautifulSoup(driver.page_source, 'html.parser')
        review_elements = soup.select("#main > section > div.lister > div.lister-list > div")

        if not review_elements:
            print("No review elements found within the container.")
            break

        for review_element in review_elements:
            try:
                # Extract the required elements
                review_date = review_element.select_one(".review-date").text.strip()
                review_title = review_element.select_one(".title").text.strip()
                username = review_element.select_one(".display-name-link > a").text.strip()
                helpfulness = review_element.select_one(".actions.text-muted").text.strip()
                helpful_votes, total_votes = map(int, re.findall(r'(\d+)', helpfulness))
                rating = int(review_element.select_one(".ipl-ratings-bar > span > span:nth-child(2)").text.strip())
                review_text = review_element.select_one(".text.show-more__control").text.strip()
                spoiler_warning = review_element.select_one(".spoiler-warning")
                spoiler_text = spoiler_warning.text.strip() if spoiler_warning else ""

                reviews_data.append({
                    'Review Date': review_date,
                    'Review Title': review_title,
                    'Username': username,
                    'Helpfulness': helpfulness,
                    'Helpful Votes': helpful_votes,
                    'Total Votes': total_votes,
                    'Rating': rating,
                    'Review Text': review_text,
                    'Spoiler Warning': spoiler_text
                })
                # Break the loop if we have collected 200 reviews
                if len(reviews_data) >= 200:
                    break
            except Exception as e:
                print(f"Error occurred while extracting review data: {e}")
                traceback.print_exc()

        # Check if the "Load More" button is present, then click it
        load_more_button = driver.find_elements(By.ID, "load-more-trigger")
        if load_more_button and len(reviews_data) < 200:
            print("Clicking the 'Load More' button...")
            driver.execute_script("arguments[0].click();", load_more_button[0])
            time.sleep(3)
        else:
            print("No 'Load More' button found, or no more reviews to load.")
            break

except Exception as e:
    print(f"Error occurred: {e}")
    traceback.print_exc()

finally:
    # Convert to DataFrame
    reviews_df = pd.DataFrame(reviews_data)
    print(f"Total reviews scraped: {len(reviews_df)}")

    # Save to CSV if needed
    reviews_df.to_csv("imdb_reviews_scraped.csv", index=False)
    driver.quit()