# Things to fix and add

1. Filter the movies list for a random data sample side.
2. Get the URL's of Movies in a for loop in the Scraping script.
3. Divide scrapping script to 20 different files to not get IP Blocked.

# Getting a list of movies

In [343]:
import pandas as pd

In [344]:
# Adjust these file paths according to where you've saved the downloaded datasets
basics_path = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/Data/IMDb title basics.tsv'
ratings_path = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/Data/IMDb Title Ratings.tsv'

In [345]:
# Reading the basics file with the correct column names
basics_df = pd.read_csv(
    basics_path, 
    sep='\t', 
    low_memory=False, 
    usecols=['tconst', 'titleType', 'primaryTitle', 'genres', 'isAdult', 'startYear', 'runtimeMinutes']
)

In [346]:
# Filtering for movies
movies_df = basics_df[basics_df['titleType'] == 'movie']

In [347]:
# Reading the ratings file
ratings_df = pd.read_csv(ratings_path, sep='\t', usecols=['tconst', 'averageRating', 'numVotes'])

# Merging the datasets on 'tconst' to combine movie details with ratings
merged_df = pd.merge(movies_df, ratings_df, on='tconst')

# Selecting and renaming the columns
IMDb_movies_df = merged_df[['primaryTitle', 'genres', 'averageRating', 'startYear', 'isAdult', 'runtimeMinutes', 'numVotes']]
IMDb_movies_df.columns = ['Movie Name', 'Genre', 'Rating', 'Release Date', 'isAdult', 'Runtime Minutes', 'numVotes']

In [348]:
# How many null values are there in each column?
print(IMDb_movies_df.isnull().sum())

Movie Name         0
Genre              0
Rating             0
Release Date       0
isAdult            0
Runtime Minutes    0
numVotes           0
dtype: int64

In [349]:
# Display the final table
IMDb_movies_df.head(10)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
0,Miss Jerry,Romance,5.3,1894,0,45,210
1,The Corbett-Fitzsimmons Fight,"Documentary,News,Sport",5.3,1897,0,100,499
2,Bohemios,\N,3.7,1905,0,100,17
3,The Story of the Kelly Gang,"Action,Adventure,Biography",6.0,1906,0,70,867
4,The Prodigal Son,Drama,5.0,1907,0,90,22
5,Robbery Under Arms,Drama,4.3,1907,0,\N,25
6,Hamlet,Drama,2.9,1908,0,\N,27
7,Don Quijote,Drama,4.2,1908,0,\N,20
8,The Fairylogue and Radio-Plays,"Adventure,Fantasy",5.0,1908,0,120,70
9,Faldgruben,\N,4.4,1909,0,\N,17

In [350]:
# Remove all values from Release date that are not numeric
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Release Date'].str.isnumeric()]

In [351]:
# set datatypes for IMDb_movies_df
IMDb_movies_df['Release Date'] = IMDb_movies_df['Release Date'].astype('int')
# IMDb_movies_df['isAdult'] = IMDb_movies_df['isAdult'].astype('bool')
IMDb_movies_df['Runtime Minutes'] = IMDb_movies_df['Runtime Minutes'].apply(pd.to_numeric, errors='coerce')
IMDb_movies_df['numVotes'] = IMDb_movies_df['numVotes'].apply(pd.to_numeric, errors='coerce')

In [352]:
# Filter IMDb_movies_df for Release date > 2015
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Release Date'] > 2015]

# Remove all num values from Genre column
IMDb_movies_df['Genre'] = IMDb_movies_df['Genre'].str.replace(r'\d+', '')

In [353]:
# List all unique values in the Release date column
IMDb_movies_df['Release Date'].unique()

array([2021, 2020, 2018, 2023, 2022, 2017, 2016, 2019, 2024])

In [354]:
# Remove all values from IMDb_movies_df columns that have a value /N
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Movie Name'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Rating'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['isAdult'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Runtime Minutes'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['numVotes'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Rating'] != '\\N']
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['Genre'] != '\\N']

In [355]:
IMDb_movies_df.shape

(77118, 7)

In [356]:
# Display the final table
IMDb_movies_df.head(5)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
1792,Istoriya grazhdanskoy voyny,Documentary,6.8,2021,0,94.0,64
32409,The Tango of the Widower and Its Distorting Mi...,Drama,6.4,2020,0,70.0,186
36947,The Other Side of the Wind,Drama,6.7,2018,0,122.0,7966
37953,Socialist Realism,Drama,7.6,2023,0,78.0,53
45841,Victor Seastrom,"Biography,Documentary",6.7,2021,0,65.0,67

In [357]:
# Filter any movies with less than 10000 votes
IMDb_movies_df = IMDb_movies_df[IMDb_movies_df['numVotes'] > 10000]

In [358]:
# Display the final table
IMDb_movies_df.head(5)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
110436,Mortal Kombat,"Action,Adventure,Fantasy",6.0,2021,0,110.0,188147
114550,Wazir,"Action,Crime,Drama",7.1,2016,0,103.0,19816
122345,Fahrenheit 451,"Drama,Sci-Fi,Thriller",5.0,2018,0,100.0,22392
125034,American Pastoral,"Crime,Drama,Mystery",6.1,2016,0,108.0,17946
126698,Motherless Brooklyn,"Crime,Drama,Mystery",6.8,2019,0,144.0,62334

In [359]:
IMDb_movies_df.shape

(2667, 7)

In [360]:
# List all duplicated Movie Names in IMDb_movies_df
IMDb_movies_df[IMDb_movies_df.duplicated(subset='Movie Name', keep=False)].sort_values(by='Movie Name')

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
153836,Aftermath,"Drama,Horror,Mystery",5.3,2021,0,114.0,18577
261362,Aftermath,"Drama,Mystery,Thriller",5.7,2017,0,94.0,26633
173119,Beast,"Action,Adventure,Drama",5.6,2022,0,93.0,39471
158784,Beast,"Action,Comedy,Thriller",5.2,2022,0,155.0,36150
272316,Beast,"Crime,Drama,Mystery",6.8,2017,0,107.0,15220
150710,Black Box,"Drama,Mystery,Thriller",7.2,2021,0,129.0,14169
166199,Black Box,"Horror,Mystery,Sci-Fi",6.2,2020,0,100.0,16957
283927,Champions,"Comedy,Drama,Family",7.2,2018,0,124.0,11684
189969,Champions,"Comedy,Drama,Sport",6.8,2023,0,124.0,24312
303811,Close,Drama,7.8,2022,0,104.0,32563
269276,Close,"Action,Drama,Thriller",5.7,2019,0,94.0,26899
166719,Drishyam 2,"Crime,Drama,Thriller",8.4,2021,0,152.0,40492
191459,Drishyam 2,"Crime,Drama,Mystery",8.2,2022,0,140.0,43470
267505,Escape Room,"Horror,Thriller",4.2,2017,0,81.0,13725
275087,Escape Room,"Action,Adventure,Horror",6.4,2019,0,99.0,139759
276465,Gold,"Action,Adventure,Thriller",5.4,2022,0,97.0,12183
203389,Gold,"Biography,Crime,Drama",6.7,2016,0,120.0,68620
278251,Gold,"Drama,History,Sport",7.3,2018,0,151.0,14661
166890,Hypnotic,"Mystery,Thriller",5.3,2021,0,88.0,19420
294035,Hypnotic,"Action,Drama,Mystery",5.5,2023,0,93.0,31130
299720,Jersey,"Drama,Sport",8.5,2019,0,157.0,21904
269127,Jersey,"Drama,Sport",7.3,2022,0,170.0,14293
192329,Leo,"Action,Crime,Drama",7.2,2023,0,164.0,56192
273645,Leo,"Animation,Comedy,Family",7.0,2023,0,102.0,30272
277433,Perfect Strangers,"Comedy,Drama",6.9,2017,0,97.0,15268
264526,Perfect Strangers,"Comedy,Drama",7.7,2016,0,96.0,70618
261473,Pinocchio,"Adventure,Comedy,Drama",5.1,2022,0,105.0,41436
295703,Pinocchio,"Drama,Family,Fantasy",6.3,2019,0,125.0,14545
148921,Shut In,Thriller,5.8,2022,0,89.0,10700
231065,Shut In,"Drama,Horror,Mystery",4.8,2016,0,91.0,14645
193512,Silent Night,"Action,Thriller",5.3,2023,0,104.0,15978
161394,Silent Night,"Comedy,Drama",5.7,2021,0,92.0,19320
295971,The Courier,"Drama,History,Mystery",7.2,2020,0,112.0,72076
293992,The Courier,"Action,Crime,Drama",4.8,2019,0,99.0,11490
250487,The Girl on the Train,"Crime,Drama,Mystery",6.5,2016,0,112.0,197818
299440,The Girl on the Train,"Crime,Drama,Mystery",4.0,2021,0,120.0,14992
221980,The Good Neighbor,"Crime,Drama,Horror",6.3,2016,0,98.0,18087
182393,The Good Neighbor,"Crime,Horror,Mystery",6.0,2022,0,106.0,12376
302659,The Guilty,"Crime,Drama,Thriller",6.3,2021,0,90.0,145621
283512,The Guilty,"Crime,Drama,Thriller",7.5,2018,0,85.0,63771
260283,The House,"Comedy,Crime",5.6,2017,0,88.0,46697
161906,The House,"Animation,Comedy,Drama",6.8,2022,0,97.0,22021
259228,The Innocents,"Drama,History",7.3,2016,0,115.0,11524
255273,The Innocents,"Drama,Fantasy,Horror",7.0,2021,0,117.0,23903
202888,The Vault,"Crime,Horror,Mystery",4.9,2017,0,91.0,13534
304274,The Vault,"Action,Thriller",6.4,2021,0,118.0,29996
172301,Vikram Vedha,"Action,Crime,Drama",7.1,2022,0,160.0,24010
277957,Vikram Vedha,"Action,Crime,Drama",8.2,2017,0,147.0,50076

In [361]:
# Remove all rows where the Movie Name, Release Date and Runtime Minutes are duplicated
IMDb_movies_df = IMDb_movies_df.drop_duplicates(subset=['Movie Name', 'Release Date', 'Runtime Minutes'])

In [362]:
# Reset index
IMDb_movies_df.reset_index(drop=True, inplace=True)

In [363]:
IMDb_movies_df.head(10)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
0,Mortal Kombat,"Action,Adventure,Fantasy",6.0,2021,0,110.0,188147
1,Wazir,"Action,Crime,Drama",7.1,2016,0,103.0,19816
2,Fahrenheit 451,"Drama,Sci-Fi,Thriller",5.0,2018,0,100.0,22392
3,American Pastoral,"Crime,Drama,Mystery",6.1,2016,0,108.0,17946
4,Motherless Brooklyn,"Crime,Drama,Mystery",6.8,2019,0,144.0,62334
5,Alita: Battle Angel,"Action,Adventure,Sci-Fi",7.3,2019,0,122.0,290565
6,The Flash,"Action,Adventure,Fantasy",6.7,2023,0,144.0,201276
7,Danger Close,"Action,Drama,War",6.8,2019,0,118.0,14990
8,Shazam!,"Action,Adventure,Comedy",7.0,2019,0,132.0,380869
9,Wonder Woman,"Action,Adventure,Fantasy",7.3,2017,0,141.0,694150

In [364]:
IMDb_movies_df.shape

(2667, 7)

In [365]:
# New column called Random that randomly generates random unique integer values between 1 and 1000000
import random
random.seed(0)
IMDb_movies_df['Random'] = random.sample(range(1, 1000000), IMDb_movies_df.shape[0])

In [366]:
# how many duplicate values are there in the Random column?
IMDb_movies_df['Random'].duplicated().sum()

0

In [367]:
# sort the random column in ascending order
IMDb_movies_df.sort_values(by='Random', inplace=True)

# filter the top 1100 rows
IMDb_movies_df = IMDb_movies_df.head(1100)

In [368]:
# Reset index
IMDb_movies_df.reset_index(drop=True, inplace=True)

In [369]:
IMDb_movies_df.shape

(1100, 8)

In [370]:
IMDb_movies_df.head(10)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes,Random
0,Phone Bhoot,"Comedy,Horror",5.2,2022,0,136.0,10841,73
1,Office Christmas Party,Comedy,5.9,2016,0,105.0,87808,253
2,The Boogeyman,"Horror,Mystery,Thriller",5.9,2023,0,98.0,41911,266
3,The Woman King,"Action,Drama,History",6.9,2022,0,135.0,71193,762
4,A Shaun the Sheep Movie: Farmageddon,"Adventure,Animation,Comedy",6.8,2019,0,86.0,15422,1062
5,Gemini Man,"Action,Sci-Fi,Thriller",5.7,2019,0,117.0,120953,1199
6,Doctor Strange,"Action,Adventure,Fantasy",7.5,2016,0,115.0,795835,1599
7,Sully,"Biography,Drama",7.4,2016,0,96.0,294926,1933
8,The Irishman,"Biography,Crime,Drama",7.8,2019,0,209.0,425536,2473
9,777 Charlie,"Adventure,Comedy,Drama",8.8,2022,0,164.0,38956,2581

### Dividing the Movies dataframe into 20 csv's

In [371]:
# divide the IMDb_movies_df into 20 separate dataframes with 50 rows each and save them as separate CSV files with the naming convention "IMDb_movies_df_1.csv", "IMDb_movies_df_2.csv", "IMDb_movies_df_3.csv", and so on in the location '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets'
import os

# drop random column
IMDb_movies_df.drop('Random', axis=1, inplace=True)

# Create the directory
directory = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets'
if not os.path.exists(directory):
    os.makedirs(directory)

# Split the dataframe into 22 separate dataframes
for i in range(22):
    start = i * 50
    end = (i + 1) * 50
    df = IMDb_movies_df.iloc[start:end]
    df.to_csv(f'{directory}/IMDb_movies_df_{i + 1}.csv', index=False)

-----

## Importing all 22 Movies CSV

In [372]:
import pandas as pd
import os

# Define the directory where the CSV files are located
directory = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets'

# Initialize an empty dictionary to store the dataframes
dataframes = {}

# Loop through all the files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Remove the '.csv' extension and use the filename as the dictionary key
        dataframe_name = filename.replace('.csv', '')
        # Store the DataFrame in the dictionary
        dataframes[dataframe_name] = df

In [373]:
# Defining all dataframes as variables

imdb_movies_df_1 = dataframes['IMDb_movies_df_1']
imdb_movies_df_2 = dataframes['IMDb_movies_df_2']
imdb_movies_df_3 = dataframes['IMDb_movies_df_3']
imdb_movies_df_4 = dataframes['IMDb_movies_df_4']
imdb_movies_df_5 = dataframes['IMDb_movies_df_5']
imdb_movies_df_6 = dataframes['IMDb_movies_df_6']
imdb_movies_df_7 = dataframes['IMDb_movies_df_7']
imdb_movies_df_8 = dataframes['IMDb_movies_df_8']
imdb_movies_df_9 = dataframes['IMDb_movies_df_9']
imdb_movies_df_10 = dataframes['IMDb_movies_df_10']
imdb_movies_df_11 = dataframes['IMDb_movies_df_11']
imdb_movies_df_12 = dataframes['IMDb_movies_df_12']
imdb_movies_df_13 = dataframes['IMDb_movies_df_13']
imdb_movies_df_14 = dataframes['IMDb_movies_df_14']
imdb_movies_df_15 = dataframes['IMDb_movies_df_15']
imdb_movies_df_16 = dataframes['IMDb_movies_df_16']
imdb_movies_df_17 = dataframes['IMDb_movies_df_17']
imdb_movies_df_18 = dataframes['IMDb_movies_df_18']
imdb_movies_df_19 = dataframes['IMDb_movies_df_19']
imdb_movies_df_20 = dataframes['IMDb_movies_df_20']
imdb_movies_df_21 = dataframes['IMDb_movies_df_21']
imdb_movies_df_22 = dataframes['IMDb_movies_df_22']

In [374]:
imdb_movies_df_21.head(5)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
0,Shadow,"Action,Adventure,Fantasy",7.0,2018,0,116.0,17935
1,Alone,"Drama,Horror,Mystery",6.2,2020,0,98.0,26357
2,I Am Wrath,"Action,Thriller",5.4,2016,0,92.0,15925
3,To All the Boys I've Loved Before,"Comedy,Drama,Romance",7.0,2018,0,99.0,121881
4,Veere Di Wedding,Comedy,3.3,2018,0,135.0,13191

In [375]:
imdb_movies_df_22.head(5)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes
0,The Lego Ninjago Movie,"Action,Adventure,Animation",6.0,2017,0,101.0,29531
1,The Specials,"Comedy,Drama",7.4,2019,0,114.0,10944
2,The Hollars,"Comedy,Drama,Romance",6.6,2016,0,88.0,14284
3,Rashmi Rocket,"Drama,Sport",7.3,2021,0,129.0,12533
4,MobKing,"Drama,Thriller",6.8,2023,0,NaN,11469

---

# URL Extracting script for all 22 dataframes

In [376]:
# # Working URL extracting sctipt for all 20 dataframes

# import time
# import pandas as pd
# from selenium import webdriver
# from selenium.webdriver.common.keys import Keys
# from selenium.webdriver.common.by import By
# from selenium.webdriver.chrome.service import Service
# from selenium.webdriver.chrome.options import Options

# # Setting up Selenium
# chrome_options = Options()
# chrome_options.add_argument("--headless")  # Headless mode to run without opening browser window
# service = Service('path_to_chromedriver')  # Replace 'path_to_chromedriver' with the actual path
# # Setup WebDriver (example with Chrome)
# driver = webdriver.Chrome()

# # Function to get the URL of User Reviews for a movie
# def get_user_reviews_url(movie_name, release_date):
#     try:
#         # Open IMDb website
#         driver.get("https://www.imdb.com/")
#         time.sleep(2)  # Wait for page to load

#         # Find search box and input movie name
#         search_box = driver.find_element(By.ID, "suggestion-search")
#         search_box.clear()
#         search_box.send_keys(movie_name)
#         search_box.send_keys(Keys.RETURN)
#         time.sleep(2)  # Wait for search results to load

#         # Find and click on the release year
#         release_year_element = driver.find_element(By.XPATH, f"//*[contains(text(), '{release_date}')]")
#         release_year_element.click()
#         time.sleep(2)  # Wait for page to load

#         # Find and click on User Reviews button
#         user_reviews_button = driver.find_element(By.XPATH, "//a[contains(text(), 'User reviews')]")
#         user_reviews_url = user_reviews_button.get_attribute('href')
#         return user_reviews_url

#     except Exception as e:
#         print(f"Error occurred for {movie_name}: {str(e)}")
#         return None

# # Loop through each dataframe
# for i in range(21, 23):
#     # Dynamically generate dataframe name
#     df_name = f'imdb_movies_df_{i}'
#     # Assuming dataframes are stored in a dictionary or similar structure
#     df = globals()[df_name]  # Replace with the actual way to access the dataframe

#     # Iterate through each row in the DataFrame
#     for index, row in df.iterrows():
#         movie_name = row['Movie Name']
#         release_date = row['Release Date']

#         # Get User Reviews URL for the movie
#         user_reviews_url = get_user_reviews_url(movie_name, release_date)

#         # Update DataFrame with the URL
#         df.at[index, 'User Reviews URL'] = user_reviews_url

#     # Save the updated DataFrame
#     output_path = f'/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL/imdb_movies_df_{i}_url.csv'
#     df.to_csv(output_path, index=False)

# # Close the browser
# driver.quit()

-----

# Descriptive stats for all URL df

In [377]:
import os
import pandas as pd

# import all 20 csv files from the folder location '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL' The files are named imdb_movies_df_1_url.csv, imdb_movies_df_2_url.csv, imdb_movies_df_3_url.csv, and so on till 20. I want to concatenate all these files into one dataframe called all_URL_df

# Define the directory where the CSV files are located
directory = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL'

# Initialize an empty list to store the dataframes
dataframes = []

# Loop through all the files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all the DataFrames in the list
all_URL_df = pd.concat(dataframes, ignore_index=True)

In [378]:
# Display the final table
all_URL_df.head(5)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes,User Reviews URL
0,Prey,"Action,Adventure,Drama",7.1,2022,0,100.0,222499,https://www.imdb.com/title/tt11866324/reviews/...
1,The Bye Bye Man,"Drama,Fantasy,Horror",4.3,2017,0,96.0,25774,https://www.imdb.com/title/tt4030600/reviews/?...
2,Fyre,"Crime,Documentary,Music",7.2,2019,0,97.0,51546,https://www.imdb.com/title/tt9412098/reviews/?...
3,Escape Room,"Action,Adventure,Horror",6.4,2019,0,99.0,139759,https://www.imdb.com/title/tt5886046/reviews/?...
4,Salaar,"Action,Crime,Drama",6.5,2023,0,175.0,57702,https://www.imdb.com/title/tt13927994/reviews/...

In [379]:
all_URL_df.shape

(1100, 8)

In [380]:
# all null values in each column
all_URL_df.isnull().sum()

Movie Name           0
Genre                0
Rating               0
Release Date         0
isAdult              0
Runtime Minutes      1
numVotes             0
User Reviews URL    69
dtype: int64

In [381]:
# set datatypes for all_URL_df all columns
all_URL_df['Movie Name'] = all_URL_df['Movie Name'].astype('string')
all_URL_df['Genre'] = all_URL_df['Genre'].astype('string')
all_URL_df['Rating'] = all_URL_df['Rating'].astype('float')
all_URL_df['Release Date'] = all_URL_df['Release Date'].astype('int')
all_URL_df['isAdult'] = all_URL_df['isAdult'].astype('int')
all_URL_df['Runtime Minutes'] = all_URL_df['Runtime Minutes'].astype('float')
all_URL_df['numVotes'] = all_URL_df['numVotes'].astype('float')
all_URL_df['User Reviews URL'] = all_URL_df['User Reviews URL'].astype('string')

-----

## Loading all 20 URL csv as Dataframes

In [382]:
# load all 20 csv from the location '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL' as individual dataframes with the same name as their file name but without the .csv extension

import os
import pandas as pd

# Define the directory where the CSV files are located
directory = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_URL'

# Initialize an empty dictionary to store the dataframes
dataframes = {}

# Loop through all the files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Remove the '.csv' extension and use the filename as the dictionary key
        dataframe_name = filename.replace('.csv', '')
        # Store the DataFrame in the dictionary
        dataframes[dataframe_name] = df

In [383]:
# Defining all dataframes as variables

imdb_movies_df_1_url = dataframes['imdb_movies_df_1_url']
imdb_movies_df_2_url = dataframes['imdb_movies_df_2_url']
imdb_movies_df_3_url = dataframes['imdb_movies_df_3_url']
imdb_movies_df_4_url = dataframes['imdb_movies_df_4_url']
imdb_movies_df_5_url = dataframes['imdb_movies_df_5_url']
imdb_movies_df_6_url = dataframes['imdb_movies_df_6_url']
imdb_movies_df_7_url = dataframes['imdb_movies_df_7_url']
imdb_movies_df_8_url = dataframes['imdb_movies_df_8_url']
imdb_movies_df_9_url = dataframes['imdb_movies_df_9_url']
imdb_movies_df_10_url = dataframes['imdb_movies_df_10_url']
imdb_movies_df_11_url = dataframes['imdb_movies_df_11_url']
imdb_movies_df_12_url = dataframes['imdb_movies_df_12_url']
imdb_movies_df_13_url = dataframes['imdb_movies_df_13_url']
imdb_movies_df_14_url = dataframes['imdb_movies_df_14_url']
imdb_movies_df_15_url = dataframes['imdb_movies_df_15_url']
imdb_movies_df_16_url = dataframes['imdb_movies_df_16_url']
imdb_movies_df_17_url = dataframes['imdb_movies_df_17_url']
imdb_movies_df_18_url = dataframes['imdb_movies_df_18_url']
imdb_movies_df_19_url = dataframes['imdb_movies_df_19_url']
imdb_movies_df_20_url = dataframes['imdb_movies_df_20_url']
imdb_movies_df_21_url = dataframes['imdb_movies_df_21_url']
imdb_movies_df_22_url = dataframes['imdb_movies_df_22_url']

In [384]:
# Filter all rows with null value in the User Reviews URL column for imdb_movies_df_21_url and imdb_movies_df_22_url
imdb_movies_df_21_url = imdb_movies_df_21_url[imdb_movies_df_21_url['User Reviews URL'].notnull()]
imdb_movies_df_22_url = imdb_movies_df_22_url[imdb_movies_df_22_url['User Reviews URL'].notnull()]

In [385]:
imdb_movies_df_21_url.shape

(45, 8)

In [386]:
imdb_movies_df_22_url.shape

(46, 8)

In [293]:
imdb_movies_df_21_url.head(20)

,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes,User Reviews URL
0,Shadow,"Action,Adventure,Fantasy",7.0,2018,0,116.0,17935,https://www.imdb.com/title/tt6864046/reviews/?...
1,Alone,"Drama,Horror,Mystery",6.2,2020,0,98.0,26357,https://www.imdb.com/title/tt7711170/reviews/?...
2,I Am Wrath,"Action,Thriller",5.4,2016,0,92.0,15925,https://www.imdb.com/title/tt3212232/reviews/?...
3,To All the Boys I've Loved Before,"Comedy,Drama,Romance",7.0,2018,0,99.0,121881,https://www.imdb.com/title/tt3846674/reviews/?...
4,Veere Di Wedding,Comedy,3.3,2018,0,135.0,13191,https://www.imdb.com/title/tt5842616/reviews/?...
6,Judwaa 2,"Action,Comedy",3.6,2017,0,145.0,11525,https://www.imdb.com/title/tt5456546/reviews/?...
7,Skinamarink,"Horror,Mystery",4.8,2022,0,100.0,14881,https://www.imdb.com/title/tt21307994/reviews/...
8,Cuties,Drama,3.6,2020,0,96.0,32500,https://www.imdb.com/title/tt9196192/reviews/?...
9,Blue Beetle,"Action,Adventure,Sci-Fi",6.0,2023,0,127.0,87473,https://www.imdb.com/title/tt9362930/reviews/?...
10,The Blackening,"Comedy,Horror,Thriller",6.0,2022,0,97.0,17197,https://www.imdb.com/title/tt11703244/reviews/...
12,Free Solo,"Adventure,Documentary,Sport",8.1,2018,0,100.0,76222,https://www.imdb.com/title/tt7775622/reviews/?...
14,Enes Batur: Imagination or Reality?,Comedy,2.0,2018,0,110.0,55938,https://www.imdb.com/title/tt7668842/reviews/?...
15,The Hate U Give,"Crime,Drama",7.5,2018,0,133.0,39658,https://www.imdb.com/title/tt5580266/reviews/?...
16,CHIPS,"Action,Comedy,Crime",6.0,2017,0,100.0,50449,https://www.imdb.com/title/tt0493405/reviews/?...
17,Victoria & Abdul,"Biography,Comedy,Drama",6.8,2017,0,111.0,37931,https://www.imdb.com/title/tt5816682/reviews/?...
18,On the Line,Thriller,5.4,2022,0,104.0,10846,https://www.imdb.com/title/tt14824590/reviews/...
19,Worth,"Biography,Drama,History",6.8,2020,0,118.0,17961,https://www.imdb.com/title/tt8009744/reviews/?...
20,Death Wish,"Action,Crime,Drama",6.3,2018,0,107.0,75862,https://www.imdb.com/title/tt1137450/reviews/?...
21,The Eyes of My Mother,"Drama,Horror,Thriller",6.2,2016,0,76.0,14293,https://www.imdb.com/title/tt5225338/reviews/?...
22,Gully,"Crime,Drama",2.6,2019,0,84.0,22931,https://www.imdb.com/title/tt5013984/reviews/?...

-----

# Scrapping code
-----

In [390]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup
import pandas as pd
import time
import re
import traceback
import os

# Initialize WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")
driver = webdriver.Chrome(options=options)
wait = WebDriverWait(driver, 20)

def scrape_reviews(url):
    driver.get(url)
    reviews_data = []
    scraped_reviews = set()  # To track scraped reviews and avoid duplicates
    
    try:
        while len(reviews_data) < 1000:  # Limit to 1000 reviews
            wait.until(EC.visibility_of_element_located((By.CSS_SELECTOR, "#main > section > div.lister > div.lister-list")))
            time.sleep(3)
            soup = BeautifulSoup(driver.page_source, 'html.parser')
            review_elements = soup.select("#main > section > div.lister > div.lister-list > div")
            if not review_elements:
                break
            for review_element in review_elements:
                if len(reviews_data) >= 1000:  # Check if we have already collected 1000 reviews
                    break
                try:
                    individual_rating_element = review_element.select_one(".ipl-ratings-bar > span > span:nth-child(2)")
                    individual_rating = int(individual_rating_element.text.strip()) if individual_rating_element else None
                    review_data = {
                        'Review Date': review_element.select_one(".review-date").text.strip(),
                        'Review Title': review_element.select_one(".title").text.strip(),
                        'Username': review_element.select_one(".display-name-link > a").text.strip(),
                        'Helpfulness': review_element.select_one(".actions.text-muted").text.strip(),
                        'Helpful Votes': int(re.findall(r'(\d+)', review_element.select_one(".actions.text-muted").text.strip())[0]),
                        'Total Votes': int(re.findall(r'(\d+)', review_element.select_one(".actions.text-muted").text.strip())[1]),
                        'Individual Rating': individual_rating,
                        'Review Text': review_element.select_one(".text.show-more__control").text.strip(),
                        'Spoiler Warning': review_element.select_one(".spoiler-warning").text.strip() if review_element.select_one(".spoiler-warning") else ""
                    }
                    review_identifier = (review_data['Review Date'], review_data['Username'])
                    if review_identifier not in scraped_reviews:
                        reviews_data.append(review_data)
                        scraped_reviews.add(review_identifier)
                except Exception as e:
                    print(f"Error occurred while extracting review data: {e}")
                    traceback.print_exc()
            try:
                load_more_button = wait.until(EC.element_to_be_clickable((By.ID, "load-more-trigger")))
                driver.execute_script("arguments[0].scrollIntoView(true);", load_more_button)
                load_more_button.click()
                time.sleep(3)  # Adjust sleep time as necessary
            except TimeoutException:
                print("No more reviews to load.")
                break
    except Exception as e:
        print(f"Error occurred: {e}")
        traceback.print_exc()
    finally:
        return reviews_data

# Directory to save CSV files
save_dir = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_Scrapped_data'

# Main loop to iterate through dataframes
for i in range(1, 23):  # Adjust range as necessary
    df_name = f'imdb_movies_df_{i}_url'
    df = eval(df_name)  # Dynamically get the dataframe
    all_reviews = []
    for index, row in df.iterrows():
        movie_reviews = scrape_reviews(row['User Reviews URL'])
        for review in movie_reviews:
            movie_data = row.to_dict()
            movie_data['Rating'] = movie_data.get('Rating')  # Ensure the 'Rating' key is from the dataframe
            review.update(movie_data)  # Add movie data to each review
        all_reviews.extend(movie_reviews)
    
    # Convert to DataFrame
    final_df = pd.DataFrame(all_reviews)
    
    # Save to CSV
    csv_file_path = os.path.join(save_dir, f'all_scrapped_data_{i}.csv')
    final_df.to_csv(csv_file_path, index=False)
    print(f"Dataframe {i} reviews saved to {csv_file_path}")

driver.quit()

No more reviews to load.
No more reviews to load.
Dataframe 1 reviews saved to /Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_Scrapped_data/all_scrapped_data_1.csv

# Importing all 20 scrapped CSV's and concatenating them
-----

In [295]:
# Import all 20 csv files from the folder location '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_Scrapped_data' The files are named all_scrapped_data_1.csv, all_scrapped_data_2.csv, all_scrapped_data_3.csv, and so on till 20. I want to concatenate all these files into one dataframe called all_reviews_df. First merge the first 2 then clear the memory and then merge the next one with the just merged one and so on till all 20 are merged.

import os
import pandas as pd

# Define the directory where the CSV files are located
directory = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/IMDb_movie_review_sentiment_analysis/20_movies_datasets_with_Scrapped_data'

# Initialize an empty list to store the dataframes
dataframes = []

# Loop through all the files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Append the DataFrame to the list
        dataframes.append(df)

# Concatenate all the DataFrames in the list
all_reviews_df = pd.concat(dataframes, ignore_index=True)

In [296]:
all_reviews_df.head(5)

,Review Date,Review Title,Username,Helpfulness,Helpful Votes,Total Votes,Individual Rating,Review Text,Spoiler Warning,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes,User Reviews URL
0,9 March 2023,Better than I expected.,deloudelouvain,44 out of 54 found this helpful.\n ...,44,54,8.0,Sharper didn't fail to entertain me. A perfect...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...
1,22 February 2023,Who's conning whom exactly?,paul-allaer,37 out of 46 found this helpful.\n ...,37,46,6.0,"As ""Sharper"" (2023 release; 116 min.) opens, w...",NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...
2,19 February 2023,I liked this more than I expected to,bk753,88 out of 111 found this helpful.\n ...,88,111,8.0,I have to stop coming here and using User Revi...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...
3,19 February 2023,In a genre that is hard to succeed in these da...,jtindahouse,51 out of 74 found this helpful.\n ...,51,74,8.0,'Sharper' is my kind of movie. But there's a r...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...
4,11 February 2023,A Stylish Thriller That Misses the Mark,FilmFanatic2023,84 out of 123 found this helpful.\n ...,84,123,6.0,A stylish thriller that tries to mimic the sty...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...

In [297]:
all_reviews_df.shape

(1016245, 17)

In [298]:
all_reviews_df.columns

Index(['Review Date', 'Review Title', 'Username', 'Helpfulness',
       'Helpful Votes', 'Total Votes', 'Individual Rating', 'Review Text',
       'Spoiler Warning', 'Movie Name', 'Genre', 'Rating', 'Release Date',
       'isAdult', 'Runtime Minutes', 'numVotes', 'User Reviews URL'],
      dtype='object')

In [299]:
# Number of all unique values in the Movie name column in all_reviews_df
all_reviews_df['Movie Name'].nunique()

1027

In [300]:
# How many times a value appears in the Movie name column in all_reviews_df
repeats = all_reviews_df['Movie Name'].value_counts()

repeats.head(25)

Movie Name
Beast                                       2000
The Guilty                                  2000
Close                                       2000
The Good Neighbor                           2000
Kimi                                        1000
The Wife                                    1000
The Royal Treatment                         1000
Waiting for the Barbarians                  1000
Captain Underpants: The First Epic Movie    1000
Overboard                                   1000
Loving Vincent                              1000
Gretel & Hansel                             1000
Sand Castle                                 1000
Song to Song                                1000
Swiped                                      1000
The Night Eats the World                    1000
Tag                                         1000
Expend4bles                                 1000
Pet Sematary: Bloodlines                    1000
A Family Man                                1000
Uruttu Tech                                 1000
Isn't It Romantic                           1000
Suburbicon                                  1000
Malignant                                   1000
Barbarian                                   1000
Name: count, dtype: int64

In [301]:
# filter repeats for values more than 999
repeats = repeats[repeats > 999]

In [302]:
repeats.shape

(1012,)

# Cleaning the all_reviews_df dataset
--------

In [303]:
# all_reviews_df.head(5)

,Review Date,Review Title,Username,Helpfulness,Helpful Votes,Total Votes,Individual Rating,Review Text,Spoiler Warning,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes,User Reviews URL
0,9 March 2023,Better than I expected.,deloudelouvain,44 out of 54 found this helpful.\n ...,44,54,8.0,Sharper didn't fail to entertain me. A perfect...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...
1,22 February 2023,Who's conning whom exactly?,paul-allaer,37 out of 46 found this helpful.\n ...,37,46,6.0,"As ""Sharper"" (2023 release; 116 min.) opens, w...",NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...
2,19 February 2023,I liked this more than I expected to,bk753,88 out of 111 found this helpful.\n ...,88,111,8.0,I have to stop coming here and using User Revi...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...
3,19 February 2023,In a genre that is hard to succeed in these da...,jtindahouse,51 out of 74 found this helpful.\n ...,51,74,8.0,'Sharper' is my kind of movie. But there's a r...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...
4,11 February 2023,A Stylish Thriller That Misses the Mark,FilmFanatic2023,84 out of 123 found this helpful.\n ...,84,123,6.0,A stylish thriller that tries to mimic the sty...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...

In [304]:
# # In the all_reviews_df dataframe remove all rows for the following movies - Beast, The Guilty, Close and The Good Neighbor where if the values in the Helpful Votes, Total Votes, Review Text, Rating and Review Title are the same then remove those rows for each movie.
# all_reviews_df = all_reviews_df[~((all_reviews_df['Movie Name'] == 'Beast') & (all_reviews_df.duplicated(subset=['Helpful Votes', 'Total Votes', 'Review Text', 'Rating', 'Review Title'])))]
# all_reviews_df = all_reviews_df[~((all_reviews_df['Movie Name'] == 'The Guilty') & (all_reviews_df.duplicated(subset=['Helpful Votes', 'Total Votes', 'Review Text', 'Rating', 'Review Title'])))]
# all_reviews_df = all_reviews_df[~((all_reviews_df['Movie Name'] == 'Close') & (all_reviews_df.duplicated(subset=['Helpful Votes', 'Total Votes', 'Review Text', 'Rating', 'Review Title'])))]
# all_reviews_df = all_reviews_df[~((all_reviews_df['Movie Name'] == 'The Good Neighbor') & (all_reviews_df.duplicated(subset=['Helpful Votes', 'Total Votes', 'Review Text', 'Rating', 'Review Title'])))]

In [305]:
# # Number of times a value appears in the Movie name column in all_reviews_df
# repeats = all_reviews_df['Movie Name'].value_counts()

# repeats.head(25)

Movie Name
Sharper                                     1000
The Wife                                    1000
Isn't It Romantic                           1000
The Royal Treatment                         1000
Waiting for the Barbarians                  1000
Captain Underpants: The First Epic Movie    1000
Overboard                                   1000
Loving Vincent                              1000
Gretel & Hansel                             1000
Sand Castle                                 1000
Song to Song                                1000
Swiped                                      1000
The Night Eats the World                    1000
Tag                                         1000
Expend4bles                                 1000
Pet Sematary: Bloodlines                    1000
Shut In                                     1000
Uruttu Tech                                 1000
Malignant                                   1000
Barbarian                                   1000
The Unbearable Weight of Massive Talent     1000
Logan                                       1000
Denial                                      1000
Bliss                                       1000
Jujutsu Kaisen 0                            1000
Name: count, dtype: int64

In [306]:
# ## Count of movies that have less than 1000 reviews.
# # count all movies in a new dataframe that have less than 1000 reviews
# less_than_1000 = all_reviews_df['Movie Name'].value_counts()
# less_than_1000 = less_than_1000[less_than_1000 < 1000]
# less_than_1000.shape

(19,)

In [307]:
# # List of all the movies that have less than 1000 reviews.
# less_than_1000

Movie Name
Beast                       400
The Guilty                  399
Close                       315
The Good Neighbor           205
Bairavaa                     25
Playing with Fire            24
MobKing                      24
Like Crazy                   22
Two Lottery Tickets          21
Smolensk                     21
The Cost of Deception        21
Fauci                        19
Recep Ivedik 5               18
C'est la vie!                16
Goodbye Berlin               15
Kaiva                         8
15/07: Break of Dawn          5
Turnabout                     5
At the End of the Tunnel      1
Name: count, dtype: int64

In [308]:
# # Drop the Helpfulness column from all_reviews_df
# all_reviews_df.drop('Helpfulness', axis=1, inplace=True)

In [309]:
# # Drop all movies that have less than 1000 reviews from all_reviews_df
# all_reviews_df = all_reviews_df[~all_reviews_df['Movie Name'].isin(less_than_1000.index)]

------

## Adding additional columns from IMDb dataset

In [310]:
import pandas as pd

# Define file paths for the datasets
basics_path = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/Data/IMDb title basics.tsv'
ratings_path = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/Data/IMDb Title Ratings.tsv'
akas_path = '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/Data/IMDb Title AKAs.tsv'

# Load the datasets
basics_df = pd.read_csv(basics_path, sep='\t', usecols=['tconst', 'titleType', 'primaryTitle', 'genres', 'isAdult', 'startYear', 'runtimeMinutes'])
ratings_df = pd.read_csv(ratings_path, sep='\t', usecols=['tconst', 'averageRating', 'numVotes'])
akas_df = pd.read_csv(akas_path, sep='\t', usecols=['titleId', 'region', 'language', 'types'])

# Rename 'titleId' to 'tconst' in akas_df for consistency
akas_df.rename(columns={'titleId': 'tconst'}, inplace=True)

# Merge the DataFrames on 'tconst'
merged_df = basics_df.merge(ratings_df, on='tconst', how='left')
merged_df = merged_df.merge(akas_df, on='tconst', how='left')

# Filter the types column for movies only
merged_df = merged_df[merged_df['titleType'] == 'movie']

# Convert the 'startYear' column to numeric
merged_df['startYear'] = pd.to_numeric(merged_df['startYear'], errors='coerce')

# Convert the 'numVotes' column to strings
merged_df['numVotes'] = merged_df['numVotes'].astype(str)

# Group the data by 'primaryTitle', 'numVotes', and 'startYear' and concatenate the values in the other columns
merged_df = merged_df.groupby(['primaryTitle', 'numVotes', 'startYear']).agg({
    'region': lambda x: ','.join(x.astype(str)),
    'language': lambda x: ','.join(x.astype(str)),
    'types': lambda x: ','.join(x.astype(str)),
}).reset_index()

# Rename primaryTitle to Movie Name
merged_df.rename(columns={'primaryTitle': 'Movie Name'}, inplace=True)

# Rename startYear to Release Date
merged_df.rename(columns={'startYear': 'Release Date'}, inplace=True)

/var/folders/7_/z9jxc0jj6fx4snlcjg1wby4r0000gn/T/ipykernel_11102/335641486.py:9: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics_df = pd.read_csv(basics_path, sep='\t', usecols=['tconst', 'titleType', 'primaryTitle', 'genres', 'isAdult', 'startYear', 'runtimeMinutes'])

In [311]:
# data types for movie_name, numVotes, Release Date in merged_df
merged_df['Movie Name'] = merged_df['Movie Name'].astype(str)
merged_df['numVotes'] = merged_df['numVotes'].astype(str)
merged_df['Release Date'] = merged_df['Release Date'].astype(str)

# remove the decimal from numVotes and release date
merged_df['numVotes'] = merged_df['numVotes'].str.replace('.0', '')
merged_df['Release Date'] = merged_df['Release Date'].str.replace('.0', '')

In [312]:
merged_df.shape

(573002, 6)

In [313]:
# data types for movie_name, numVotes, Release Date in merged_df
merged_df['Movie Name'] = merged_df['Movie Name'].astype(str)
merged_df['numVotes'] = merged_df['numVotes'].astype(str)
merged_df['Release Date'] = merged_df['Release Date'].astype(str)

# set data types for movie_name, numVotes, Release Date in all_reviews_df
all_reviews_df['Movie Name'] = all_reviews_df['Movie Name'].astype(str)
all_reviews_df['numVotes'] = all_reviews_df['numVotes'].astype(str)
all_reviews_df['Release Date'] = all_reviews_df['Release Date'].astype(str)

In [314]:
# Merge the DataFrames merged_df and all_reviews_df if the Movie name, numVotes and Release Date are the same in both DataFrames then bring the region, language, types and isOriginalTitle from the merged_df to all_reviews_df
merged_df = all_reviews_df.merge(merged_df, on=['Movie Name', 'numVotes', 'Release Date'], how='left')

# Display the final table
merged_df.head(5)

,Review Date,Review Title,Username,Helpful Votes,Total Votes,Individual Rating,Review Text,Spoiler Warning,Movie Name,Genre,Rating,Release Date,isAdult,Runtime Minutes,numVotes,User Reviews URL,region,language,types
0,9 March 2023,Better than I expected.,deloudelouvain,44,54,8.0,Sharper didn't fail to entertain me. A perfect...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...,"RU,VN,ZA,ES,MX,AR,IT,FR,IN,RS,HU,AU,UA,TW,JP,G...","\N,\N,en,\N,\N,\N,\N,\N,en,\N,\N,\N,\N,\N,ja,\...","imdbDisplay,imdbDisplay,imdbDisplay,imdbDispla..."
1,22 February 2023,Who's conning whom exactly?,paul-allaer,37,46,6.0,"As ""Sharper"" (2023 release; 116 min.) opens, w...",NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...,"RU,VN,ZA,ES,MX,AR,IT,FR,IN,RS,HU,AU,UA,TW,JP,G...","\N,\N,en,\N,\N,\N,\N,\N,en,\N,\N,\N,\N,\N,ja,\...","imdbDisplay,imdbDisplay,imdbDisplay,imdbDispla..."
2,19 February 2023,I liked this more than I expected to,bk753,88,111,8.0,I have to stop coming here and using User Revi...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...,"RU,VN,ZA,ES,MX,AR,IT,FR,IN,RS,HU,AU,UA,TW,JP,G...","\N,\N,en,\N,\N,\N,\N,\N,en,\N,\N,\N,\N,\N,ja,\...","imdbDisplay,imdbDisplay,imdbDisplay,imdbDispla..."
3,19 February 2023,In a genre that is hard to succeed in these da...,jtindahouse,51,74,8.0,'Sharper' is my kind of movie. But there's a r...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...,"RU,VN,ZA,ES,MX,AR,IT,FR,IN,RS,HU,AU,UA,TW,JP,G...","\N,\N,en,\N,\N,\N,\N,\N,en,\N,\N,\N,\N,\N,ja,\...","imdbDisplay,imdbDisplay,imdbDisplay,imdbDispla..."
4,11 February 2023,A Stylish Thriller That Misses the Mark,FilmFanatic2023,84,123,6.0,A stylish thriller that tries to mimic the sty...,NaN,Sharper,"Crime,Drama,Thriller",6.7,2023,0,116.0,29167,https://www.imdb.com/title/tt12573454/reviews/...,"RU,VN,ZA,ES,MX,AR,IT,FR,IN,RS,HU,AU,UA,TW,JP,G...","\N,\N,en,\N,\N,\N,\N,\N,en,\N,\N,\N,\N,\N,ja,\...","imdbDisplay,imdbDisplay,imdbDisplay,imdbDispla..."

In [315]:
merged_df.shape

(1008000, 19)

-------

# Creating dummy variables

In [316]:
# In the merged_df dataframe create dummy variables for the region column in the merged_df dataframe. the regions are separated by commas. The dummy variables should be 1 if the region is present and 0 if not. The dummy variables should be named after the region with the prefix 'region_'.

# Split the 'region' column by commas and expand the split strings into separate columns
region_dummies = merged_df['region'].str.get_dummies(sep=',')
# Add a prefix to the column names
region_dummies = region_dummies.add_prefix('region_')

# Concatenate the dummy variables to the original DataFrame
merged_df = pd.concat([merged_df, region_dummies], axis=1)

In [317]:
# In the merged_df dataframe create dummy variables for the language column in the merged_df dataframe. the languages are separated by commas. The dummy variables should be 1 if the language is present and 0 if not. The dummy variables should be named after the language with the prefix 'language_'.

# Split the 'language' column by commas and expand the split strings into separate columns
language_dummies = merged_df['language'].str.get_dummies(sep=',')
# Add a prefix to the column names
language_dummies = language_dummies.add_prefix('language_')

# Concatenate the dummy variables to the original DataFrame
merged_df = pd.concat([merged_df, language_dummies], axis=1)

In [318]:
# In the merged_df dataframe create dummy variables for the language column in the merged_df dataframe. the languages are separated by commas. The dummy variables should be 1 if the language is present and 0 if not. The dummy variables should be named after the language with the prefix 'language_'.

# Split the 'language' column by commas and expand the split strings into separate columns
types_dummies = merged_df['types'].str.get_dummies(sep=',')
# Add a prefix to the column names
types_dummies = types_dummies.add_prefix('types_')

# Concatenate the dummy variables to the original DataFrame
merged_df = pd.concat([merged_df, types_dummies], axis=1)

In [319]:
# In the merged_df dataframe create dummy variables for the language column in the merged_df dataframe. the languages are separated by commas. The dummy variables should be 1 if the language is present and 0 if not. The dummy variables should be named after the language with the prefix 'language_'.

# Split the 'language' column by commas and expand the split strings into separate columns
Genre_dummies = merged_df['Genre'].str.get_dummies(sep=',')
# Add a prefix to the column names
Genre_dummies = Genre_dummies.add_prefix('Genre_')

# Concatenate the dummy variables to the original DataFrame
merged_df = pd.concat([merged_df, Genre_dummies], axis=1)

In [320]:
# Create a dummy variable for the 'Spoiler Warning' column in the merged_df dataframe. The dummy variable should be 1 if the 'Spoiler Warning' column has the value 'Warning: Spoilers' else it will be 0.

# Create a dummy variable for the 'Spoiler Warning' column
merged_df['Spoiler Warning'] = (merged_df['Spoiler Warning'] == 'Warning: Spoilers').astype(int)

In [321]:
merged_df.head(5)

,Review Date,Review Title,Username,Helpful Votes,Total Votes,Individual Rating,Review Text,Spoiler Warning,Movie Name,Genre,...,Genre_Music,Genre_Musical,Genre_Mystery,Genre_News,Genre_Romance,Genre_Sci-Fi,Genre_Sport,Genre_Thriller,Genre_War,Genre_Western
0,9 March 2023,Better than I expected.,deloudelouvain,44,54,8.0,Sharper didn't fail to entertain me. A perfect...,0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0
1,22 February 2023,Who's conning whom exactly?,paul-allaer,37,46,6.0,"As ""Sharper"" (2023 release; 116 min.) opens, w...",0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0
2,19 February 2023,I liked this more than I expected to,bk753,88,111,8.0,I have to stop coming here and using User Revi...,0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0
3,19 February 2023,In a genre that is hard to succeed in these da...,jtindahouse,51,74,8.0,'Sharper' is my kind of movie. But there's a r...,0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0
4,11 February 2023,A Stylish Thriller That Misses the Mark,FilmFanatic2023,84,123,6.0,A stylish thriller that tries to mimic the sty...,0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0

----

### Additional null value cleaning in the dataset

In [322]:
# Drop the following columns User Reviews URL, region, language, types
merged_df.drop(['User Reviews URL', 'region', 'language', 'types'], axis=1, inplace=True)

In [323]:
# Drop all rows with the missing value in Review Title and Individual Rating columns in the merged_df dataframe
merged_df = merged_df[merged_df['Review Title'].notnull()]
merged_df = merged_df[merged_df['Individual Rating'].notnull()]

-----

### Removing all rows with the same Review Date, Review Title, Username, Review Text, Spoiler Warning, Movie Name, numVotes, Release Date, Rating, Runtime Minutes, isAdult, and Genre

In [324]:
# in merged_df if there are rows with the same Review Date, Review Title, Username, Review Text, Spoiler Warning, Movie Name, numVotes, Release Date, Rating, Runtime Minutes, isAdult, and Genre then remove all but keep one out of them.

# Remove all rows with the same Review Date, Review Title, Username, Review Text, Spoiler Warning, Movie Name, numVotes, Release Date, Rating, Runtime Minutes, isAdult, and Genre
merged_df = merged_df.drop_duplicates(subset=['Review Date', 'Review Title', 'Username', 'Review Text', 'Movie Name', 'numVotes', 'Release Date', 'Rating', 'Runtime Minutes'])

# Reset index
merged_df.reset_index(drop=True, inplace=True)

----

In [325]:
# export the all_reviews_df dataframe to a csv file in the location '/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/all_reviews_df.csv'
merged_df.to_csv('/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/all_reviews_df.csv', index=False)

In [326]:
# Clear all variables and memory
%reset -f

---------
# Final clean dataframe is called "Movie_reviews_df"
---------

In [393]:
import pandas as pd

# load all_reviews_df.csv into a dataframe called all_reviews_df
all_reviews_df = pd.read_csv('/Users/shreyashgupta/Library/CloudStorage/OneDrive-UniversityofArkansas/MSEA/2nd Semester - MSEA/ECON 5823 - ECONOMIC ANALYTICS II/Project Code file/all_reviews_df.csv')

In [328]:
all_reviews_df.head(5)

,Review Date,Review Title,Username,Helpful Votes,Total Votes,Individual Rating,Review Text,Spoiler Warning,Movie Name,Genre,...,Genre_Music,Genre_Musical,Genre_Mystery,Genre_News,Genre_Romance,Genre_Sci-Fi,Genre_Sport,Genre_Thriller,Genre_War,Genre_Western
0,9 March 2023,Better than I expected.,deloudelouvain,44,54,8.0,Sharper didn't fail to entertain me. A perfect...,0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0
1,22 February 2023,Who's conning whom exactly?,paul-allaer,37,46,6.0,"As ""Sharper"" (2023 release; 116 min.) opens, w...",0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0
2,19 February 2023,I liked this more than I expected to,bk753,88,111,8.0,I have to stop coming here and using User Revi...,0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0
3,19 February 2023,In a genre that is hard to succeed in these da...,jtindahouse,51,74,8.0,'Sharper' is my kind of movie. But there's a r...,0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0
4,11 February 2023,A Stylish Thriller That Misses the Mark,FilmFanatic2023,84,123,6.0,A stylish thriller that tries to mimic the sty...,0,Sharper,"Crime,Drama,Thriller",...,0,0,0,0,0,0,0,1,0,0

In [329]:
all_reviews_df.columns

Index(['Review Date', 'Review Title', 'Username', 'Helpful Votes',
       'Total Votes', 'Individual Rating', 'Review Text', 'Spoiler Warning',
       'Movie Name', 'Genre',
       ...
       'Genre_Music', 'Genre_Musical', 'Genre_Mystery', 'Genre_News',
       'Genre_Romance', 'Genre_Sci-Fi', 'Genre_Sport', 'Genre_Thriller',
       'Genre_War', 'Genre_Western'],
      dtype='object', length=213)

In [330]:
# Save all the all_reviews_df columns as a list
all_reviews_df.columns.to_list()

['Review Date',
 'Review Title',
 'Username',
 'Helpful Votes',
 'Total Votes',
 'Individual Rating',
 'Review Text',
 'Spoiler Warning',
 'Movie Name',
 'Genre',
 'Rating',
 'Release Date',
 'isAdult',
 'Runtime Minutes',
 'numVotes',
 'region_AE',
 'region_AL',
 'region_AM',
 'region_AR',
 'region_AT',
 'region_AU',
 'region_AZ',
 'region_BA',
 'region_BD',
 'region_BE',
 'region_BG',
 'region_BJ',
 'region_BO',
 'region_BR',
 'region_BS',
 'region_BY',
 'region_CA',
 'region_CG',
 'region_CH',
 'region_CL',
 'region_CM',
 'region_CN',
 'region_CO',
 'region_CR',
 'region_CSHH',
 'region_CU',
 'region_CZ',
 'region_DE',
 'region_DK',
 'region_DO',
 'region_DZ',
 'region_EC',
 'region_EE',
 'region_EG',
 'region_ES',
 'region_FI',
 'region_FR',
 'region_GB',
 'region_GE',
 'region_GL',
 'region_GR',
 'region_GT',
 'region_HK',
 'region_HR',
 'region_HU',
 'region_ID',
 'region_IE',
 'region_IL',
 'region_IN',
 'region_IR',
 'region_IS',
 'region_IT',
 'region_JM',
 'region_JP',
 'region_KG',
 'region_KR',
 'region_KW',
 'region_KZ',
 'region_LB',
 'region_LK',
 'region_LT',
 'region_LU',
 'region_LV',
 'region_MA',
 'region_MD',
 'region_ME',
 'region_MK',
 'region_MN',
 'region_MT',
 'region_MX',
 'region_MY',
 'region_MZ',
 'region_NG',
 'region_NL',
 'region_NO',
 'region_NZ',
 'region_PA',
 'region_PE',
 'region_PH',
 'region_PK',
 'region_PL',
 'region_PR',
 'region_PT',
 'region_PY',
 'region_RO',
 'region_RS',
 'region_RU',
 'region_SA',
 'region_SE',
 'region_SG',
 'region_SI',
 'region_SK',
 'region_SN',
 'region_SUHH',
 'region_SV',
 'region_TH',
 'region_TM',
 'region_TN',
 'region_TR',
 'region_TW',
 'region_UA',
 'region_US',
 'region_UY',
 'region_UZ',
 'region_VE',
 'region_VN',
 'region_XAS',
 'region_XEU',
 'region_XSA',
 'region_XWW',
 'region_XYU',
 'region_YUCS',
 'region_ZA',
 'region_\\N',
 'region_nan',
 'language_\\N',
 'language_ar',
 'language_bg',
 'language_bn',
 'language_bs',
 'language_ca',
 'language_cmn',
 'language_cs',
 'language_de',
 'language_el',
 'language_en',
 'language_es',
 'language_fa',
 'language_fi',
 'language_fr',
 'language_ga',
 'language_gl',
 'language_gu',
 'language_he',
 'language_hi',
 'language_hr',
 'language_hu',
 'language_id',
 'language_it',
 'language_ja',
 'language_kk',
 'language_kn',
 'language_ko',
 'language_la',
 'language_lb',
 'language_lt',
 'language_mi',
 'language_ml',
 'language_mr',
 'language_ms',
 'language_nan',
 'language_nl',
 'language_no',
 'language_pt',
 'language_ro',
 'language_ru',
 'language_sk',
 'language_sr',
 'language_sv',
 'language_ta',
 'language_te',
 'language_th',
 'language_tr',
 'language_uk',
 'language_ur',
 'language_yue',
 'types_\\N',
 'types_alternative',
 'types_dvd',
 'types_festival',
 'types_imdbDisplay',
 'types_nan',
 'types_original',
 'types_tv',
 'types_video',
 'types_working',
 'Genre_Action',
 'Genre_Adventure',
 'Genre_Animation',
 'Genre_Biography',
 'Genre_Comedy',
 'Genre_Crime',
 'Genre_Documentary',
 'Genre_Drama',
 'Genre_Family',
 'Genre_Fantasy',
 'Genre_History',
 'Genre_Horror',
 'Genre_Music',
 'Genre_Musical',
 'Genre_Mystery',
 'Genre_News',
 'Genre_Romance',
 'Genre_Sci-Fi',
 'Genre_Sport',
 'Genre_Thriller',
 'Genre_War',
 'Genre_Western']

In [331]:
all_reviews_df.dtypes

Review Date       object
Review Title      object
Username          object
Helpful Votes      int64
Total Votes        int64
                   ...
Genre_Sci-Fi       int64
Genre_Sport        int64
Genre_Thriller     int64
Genre_War          int64
Genre_Western      int64
Length: 213, dtype: object

In [332]:
all_reviews_df.shape

(165553, 213)

-----

# Analysis below
-----

In [333]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [334]:
# Define the feature and target variables
X = all_reviews_df['Review Text']
y = all_reviews_df['Individual Rating']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [335]:
# Initialize the TfidfVectorizer
vectorizer = TfidfVectorizer()

# Fit the vectorizer on the training data and transform both training and testing data
X_train_vect = vectorizer.fit_transform(X_train)
X_test_vect = vectorizer.transform(X_test)

In [336]:
# Initialize the Random Forest model
rf = RandomForestRegressor(n_estimators=100, random_state=42)

In [337]:
# Train the model
rf.fit(X_train_vect, y_train)

In [338]:
# Predict the ratings on the test set
y_pred = rf.predict(X_test_vect)

In [339]:
# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

In [340]:
# Define the threshold for big discrepancies
threshold = 2

In [341]:
# Find reviews with a big discrepancy between predicted and actual ratings
discrepancies = pd.DataFrame({'Review': X_test, 'Actual Rating': y_test, 'Predicted Rating': y_pred})
discrepancies['Discrepancy'] = discrepancies['Actual Rating'] - discrepancies['Predicted Rating']
big_discrepancies = discrepancies[discrepancies['Discrepancy'].abs() > threshold]

In [342]:
# Display the reviews with big discrepancies
print(big_discrepancies)